<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Login|CAP</title>
        
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script></script>
        <script src="https://unpkg.com/sweetalert2@9/dist/sweetalert2.all.js"></script>
        <link rel="stylesheet" href="login.css" />
    </head>
    
    <body class="light">
        <div class="container-fluid">
            <div class="row">
                <div class= "col-12 offeset-1 text-center mt-5 pb-4 text-light">
                   <h1 class="h1"> Calculando a Produtividade </h1>
                </div>
                <div class="col-10 offset-1 bg-light shadow mb-5 border border-dark"
                >
                <div class="row">
                    <div 
                        id="loginLogo"
                        class="col-6 p-4 bg-light d-flex justify-content-right">
                            <img src="./imagens/Logo do site.png"alt="Logo Firebase"/>
                        </div>
                        <div class="col-6 p-5">
                            <div id="LoginForm">
                                <h2 class="h2 text-center text-secondary mb-3">
                                    Faça seu login aqui 
                                </h2>
                                
                                <div class="form-group"></div>
                                    <img src="./imagens/email.png" alt="teste" width="5%">
                                    <label for="email" class="text-secondary">Email</label>
                                    <input
                                        type="email"
                                        name="email"
                                        id="email"
                                        class="form-control"
                                        placeholder="Digite seu email aqui"
                                    />
                                </div>
                                <div class="form-group">
                                    <img src="./imagens/senha 5.png" alt="teste" width="7%">
                                    <label for="password" class="text-secondary">Senha</label>

                                    <input
                                        type="password"
                                        name="password"
                                        id="password"
                                        class="form-control"
                                        placeholder="Digite sua senha aqui "
                                    />
                                </div>
                                <button 
                                    type="button" 
                                    class="btn btn-outline-secondary" 
                                    onclick="Login()"
                                >
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
